.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-thumbnail {
    border-radius: 50%;
    height: 250px;
    margin: 0 auto 1rem;
    object-fit: cover;
    width: 250px;
  }

  &-time {
    color: $default-tint;
    display: block;
    font-family: $palatino;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-font;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
    text-align: center;
  }

  &-line {
    @include transition(all .15s ease-out);

    border-top: 0.2rem solid $default-shade;
    display: block;
    width: 2rem;
    margin: 0 auto;
  }
}
