.gallery-images {
  display: grid;
  grid-gap: 0.6rem;
  justify-content: center;
  margin-bottom: 3rem;

  img {
    margin: 0;
  }

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
